.wrapper{
    font-family: 'Open Sans', sans-serif ;
    margin-top: 10px;
}

.user-info{
  display: flex;
  text-align: center;
}

.logo{
    background-image: url('https://static-zmp3.zadn.vn/skins/zmp3-v5.2/images/logo-mp-3.svg');
    background-size: contain;
    height: 30px;
    background-repeat: no-repeat;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    border: 1px solid #999;
    border-left: none;
    padding: 5px;
    height: 20px;
    border-radius: 0px 5px 5px 0px;
    outline: none;
    color: #9DBFAF;
  }

  .searchTerm:focus{
    color: #111; 
  } 
  
  .searchButton {
    width: 40px;
    height: 32px;
    border: 1px solid #999;
    border-right: none;
    background-color: transparent;
    text-align: center;
    color: #111;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .dot {
    height: 35px;
    width: 35px;
    background-image: url('https://picsum.photos/200/300');
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }

  .avatar{
    display: flex;
  }

  .user{
    display: flex;
    justify-content: space-around;
  }

  .name{
    font-weight: bold;
    font-size: 15 !important;
  }

  .account {
    color: #999;
    font-size: 12 !important;
  }

  