.container-group{
    background-color: #111111;
    padding: 0 50px;
    display: flex;
    color: white;

}

.logo{
    display: flex;
    align-items: center;
}

.input-content{
    margin: 0 20px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    text-decoration: underline;

}

.picker-group{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    flex-grow: 1;
}
.picker {
    text-transform: uppercase;
    padding: 0 10px;
}

.picker:hover{
    cursor: pointer;
    background-color: black;
    color: blueviolet;
}

.sign-out{
    text-transform: uppercase;
    margin: 20px 0px;

    /* width: 100%; */
}

.search{
    background-color: white;
    color: #111;
    font-size: 25px !important;
    border-left-width: 0px;
    border: 1px solid #999;
    border-left-style: none ;
}


#input1 {
    border-right-width: 0px;
    border: 1px solid #999;
    border-right-style: none ;
    font-size: 20px;
}